@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg-dark: #141627;
    --color-white: #fff;
    --color-light-dark: #1a1c2e;
    --color-green: #31ae1a;
    --color-muted: #666666;
  }
  html {
    @apply h-full;
  }
  body {
    @apply font-varela h-full;
  }
}

@layer components {
  .btn-primary {
    @apply bg-skin-green block text-skin-white text-[1.125em] leading-[1.6875em] px-4 py-2 rounded-[10px];
  }
  .btn-secondary {
    @apply bg-transparent block border border-skin-white text-skin-white text-[1.125em] leading-[1.6875em] px-10 py-2 rounded-[10px];
  }
  .active {
    background-image: url(../../public/img/link.png);
    background-position: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 45px;
  }
}
